{% extends 'asider.html' %}

{% block conteudo %}
            <!-- Página 1: Escolha de destino -->
            <div class="box content-cr" id="page-1">
            <h1 class="text_title">Criar novo roteiro</h1>
            <h2 class="text"> Escolha seu destino </h2>
            <input type="text" class="search-box" placeholder="Ex. Rio, Gramado..." aria-label="Barra de pesquisa de destino">
            <h2 class="text1"> Destinos populares</h2>
            <div class="grade_img destinations" id="lista-destinos">
                

            </div>
                <div class="continue-btn-cr">
                    <button class="continue-cr" id="continue-btn" onclick="irParaProximaPagina()" disabled aria-label="Continuar para escolha de datas">Continuar</button>
                </div>
            </div>
           
{% endblock %} 