{% extends 'asider.html' %}

{% block conteudo %}
            <!-- Página 3: Escolha de hotéis -->
            <div id="page-3" class=" box content-cr">
                <h3>Hotéis Disponíveis em <span id="selected-city"></span></h3>
                <!-- Etapa 1: Seleção de hotéis -->
                <div id="hotel-selection" class="step">
                    <h2 class="text">Escolha seu hotel ou informe um endereço personalizado</h2>
                    <input type="text" class="search-box" placeholder="Ex. Atlântico Center">
                    <h2 class="text1"> Hotéis recomendados</h2>
                    <div class="hotel-list">
                    
                    </div>
                    <div class="continue-btn-cr">
                      <button class="back-btn" id="back-btn" onclick="voltarUmaEtapa()">Voltar</button>
                    </div>
                </div>
    
                <!-- Etapa 2: Detalhes do hotel -->
                <div id="hotel-details" class="step hidden">
                <div class="container">
                    <!-- Seção do hotel -->
                    <div class="hotel-left">
                      <div class="hotel-image">
                        <img id="hotel-image" src="" alt="Hotel selecionado">
                        <div id="hotel-name" class="hotel-name"></div>
                      </div>
                      <p id="hotel-description" class="hotel-description"></p>
                    </div>
                    
                    <!-- Seção de endereço e avaliações -->
                    <!-- Seção de endereço e avaliações -->
                      <div class="hotel-right">
                        <h2>Endereço</h2>
                        <p id="hotel-endereco"></p>

                        <h3>Avaliações</h3>
                        <div id="hotel-avaliacoes"></div>
                      </div>

                  </div>
                <div class="continue-btn-cr">
                <button class="back-btn" id="back-btn" onclick="voltarUmaEtapa()">Voltar</button>
                <button id="continue-to-confirmation" class="continue-cr">Continuar</button>
                </div>
                </div>
            </div>

            <!-- Etapa 3: Confirmação do hotel -->
            <div id="hotel-confirmation" class="step hidden box content-cr">
                <h2>Confirmação do Hotel</h2>
                <div class="hotel-confirmation-card">
                <img id="confirm-hotel-image" src="" alt="Hotel Selecionado">
                <h3 id="confirm-hotel-name"></h3>
                <div id="confirm-hotel-value"></div>
                <button id="remove-hotel" class="continue-cr">Remover</button>
                </div>
                <div class="continue-btn-cr">
                  <button class="back-btn" id="back-btn" onclick="voltarUmaEtapa()">Voltar</button>
                <button  onclick="showHorario()" id="continue-btn" class="continue-cr">Continuar</button>
                </div>
            </div>
            </div>
            
{% endblock %} 